@charset "utf-8";
/* X CSS Document Y */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{font:12px "宋体","Arial Narrow",HELVETICA; -webkit-text-size-adjust:100%; line-height:25px;}
a{color:#333;text-decoration:none}
ul,li{list-style:none; margin:0px; padding:0px;}
img{border:0;vertical-align:middle;}

.center{ max-width: 640px; margin:0 auto;}
.header{ overflow: hidden; background-color: #24272e; padding:8px; position: relative; z-index: 9999;}
.header .h_left{ width: 39px; height: 31px; line-height: 31px; text-align: center; float: left; background:url(../images/h_left.jpg) left center no-repeat; background-size: 57px 31px; color: #fff; padding-left: 8px;}
.header .h_right{ width: 52px; height: 30px; float: right;}
.header .h_right img{ width: 100%;}
.section_a{ width: 100%; overflow: hidden; position: relative;}
.section_a img{ width: 100%; overflow: hidden;}
.sec_a{ width: 100%; position: absolute; text-align: center; height: 100%; left: 0px; top: 0px;}
.sec_a a{ outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.sec_a img{ width: auto; height: 100%; margin-left: 20px;}
.sec_b{ width: 100%; position: absolute;  text-align: center; left: 0px; top:0;}
.sec_b img{ width: 31%; height: auto;}
.sec_b ul{ padding-top: 5%;}
.sec_b li{ overflow: hidden; width: 100% text-align: center;}

.huo_r{ width: 100%; overflow: hidden;}
.huo_img{ width: 100%; overflow: hidden; position: relative;}
.huo_img img{ width: 100%; float: left;}
.huo_wz{ width: 100%; position: relative; z-index: 2}
.huo_wzl{ width: 100%; position: absolute; left: 0px; top: 0px;}
.huo_wzl dl{ padding:0 20px; overflow: hidden;}
.huo_wzl dd{ color: #fff; line-height: 18px;}
.huo_wzl dt{ padding-top: 5px;}
.huo_wzl dt img{ height: 20px;}
.gui{ width: 25%; height: 100%; display: block; position: absolute; left: 37%;}
.img_b{ width: 100%; float: left;}
.section_m{ width: 100%; position: relative;}
.sec_b_m{ width: 100%; position: absolute; left: 0px; top: 0px; padding:0 17px; box-sizing:border-box; -webkit-box-sizing:border-box;}
.sec_b_title{ width: 100%; overflow: hidden;}
.sec_b_title li{ width: 47%; margin-left: 2%; line-height: 21px; background: url(../images/c_04.png) left top repeat-x; background-size:  auto 21px; text-align: center; color: #000; float: left; border-radius: 5px 5px 0 0}
.sec_b_title li.current{ background: #006153; color: #fff;}
.sec_b_center{ overflow: hidden; padding:20px 25px; background-color: #006153; border-radius: 5px;}
.sec_b_center li{ overflow: hidden; color: #fff; line-height: 26px; padding:0 10px;}
.sec_b_center li span{ float: right;}
.sec_b_center li b{ font-weight: normal;}
.sec_b_center ul li:first-child{ background-color: #fcea7c; padding:0px; margin-bottom: 15px; border-radius: 10px; color: #006153; font-weight: bold;}
.sec_b_center ul li:first-child b{ padding-left: 15px; font-weight:bold;}
.sec_b_center ul li:first-child span{ padding-right: 15px;}

.postion_img{ width: 100%; position: absolute; left: 0px; top: 15%;}
.section_footer{ width: 100%; overflow: hidden; position: relative;}
.section_footer img{ width: 100%; float: left;}
.section_footer ul{ width: 100%; height: 100%; position: absolute; left: 0px; top: 0;}
.section_footer li{ width: 100%; overflow: hidden; position: relative; height: 48%; margin-top: 2%;}
.section_footer li a{ width: 35%; height: 100%; display: block; position: absolute; left: 37%;}

.guib{ width: 45%; height: 60%; display: block; position: absolute; top: 15%; left: 27%;}
.guic{ width: 65%; height: 40%; display: block; position: absolute; top: 35%; left: 17%;}
.guid{ width: 70%; height: 50%; display: block; position: absolute; top: 5%; left: 17%;}


.postion_tck{ width: 100%; position: absolute; left: 0px; top: 0px; z-index: 9999;}
.postion_tck img{ width: 100%; float: left;}
.postion_bg{ width: 100%; height: 100%; background-color: #000; left: 0px; top: 0px; z-index: 40; position: absolute; opacity: 0.8;}
.daij{ width: 100%; position: absolute; z-index: 999; left: 0px; top: 0px; margin-top: 50px;}
.daij p{ position: relative; width: 100%;}
.daij img{ width: 100%; float: left;}
.daij ul{ position: absolute; left: 7%; top: 52%; line-height: 18px;}
.daij li{ color: #fff;}
.daij .colse{ margin:10px 0; overflow: hidden;}

.xinx_input{ position: absolute; left: 0px; top: 0; width: 100%; padding:18% 10%; box-sizing:border-box; -webkit-box-sizing:border-box;}
.xinx_input li{ overflow: hidden; padding-top: 10px;}
.xinx_input li p{ overflow: hidden;}
.xinx_input li span{ float: left; color: #fff; padding-right: 5px;}
.xinx_input li input{ width: 100%; height: 27px; padding:0 10px; background-color: #fff ; box-sizing:border-box; -webkit-box-sizing:border-box; border-radius: 15px; border:none; outline: none;}
.xinx_input li textarea{ width: 100%; height: 60px; outline: none; padding:10px; background-color: #fff ; box-sizing:border-box; -webkit-box-sizing:border-box; border-radius: 15px; border:none;}

.xin_sub{width: 45%; height: 68%; display: block; position: absolute; top: 15%; left: 27%; border:none; background-color: transparent;}

