<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>WAP首页</title>
<meta http-equiv="Cache-Control" content="no-transform " />
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
<div class="center">
    <div class="header">
    	<a href="#" class="h_left">返回</a>
    	<a href="#" class="h_right"><img src="images/h_right.jpg" alt="" /></a>
    </div>
    <div class="section_a">
        <div class="postion_img">
            <img src="images/d_05.png" alt="" />
        </div>
        <img src="images/4_02.png" alt="" />
        <img src="images/4_03.png" alt="" />
        <img src="images/4_04.png" alt="" />
    </div>
    
    <div class="section_footer">
        <ul>
            <li><a href="#" class="gui">&nbsp;</a></li>
            <li><a href="#" class="gui">&nbsp;</a></li>
        </ul>
        <img src="images/4_05.png" alt="" />
    </div>
</div>
</body>
</html>
