<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>WAP首页</title>
<meta http-equiv="Cache-Control" content="no-transform " />
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
<div class="center">
    <div class="header">
    	<a href="#" class="h_left">返回</a>
    	<a href="#" class="h_right"><img src="images/h_right.jpg" alt="" /></a>
    </div>
    <div class="section_a">
    	<img src="images/ina_01.jpg" alt="" />
    	<img src="images/ina_02.jpg" alt="" />
    	<img src="images/ina_03.jpg" alt="" />
    </div>
    <div class="section_a">
    	<div class="sec_a"><a href="#"><img src="images/in_a.png" alt="" /></a></div>
    	<img src="images/ina_04.jpg" alt="" />
    </div>
    <div class="section_a">
    	<div class="sec_b">
    		<ul>
    			<li><a href="#"><img src="images/in_06.png" alt="" /></a></li>
    			<li><a href="#"><img src="images/in_07.png" alt="" /></a></li>
    		</ul>
    	</div>
    	<img src="images/ina_05.jpg" alt="" />
    </div>
    <div class="postion_bg">&nbsp;</div>
    <div class="daij">
        <p class="colse"><img src="images/8_03.png" alt="" style="width:44px; float: right; margin-right:10px;" /></p>
        <div class="daij_r">
            <ul>
                <li>*请记录下序列号，页面跳转将消失。</li>
                <li>*请记录下序列号，页面跳转将消失。</li>
                <li>*请记录下序列号，页面跳转将消失。</li>
                <li>*请记录下序列号，页面跳转将消失。</li>
                <li>*请记录下序列号，页面跳转将消失。</li>
                <li>*请记录下序列号，页面跳转将消失。</li>
            </ul>
            <img src="images/8_06.png" alt="" /></div>
    </div>
</div>
</body>
</html>
