<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#importMobileHeaderDiv("产品预约完成")
<body>
#importMobileShareDiv("金信网","金信网-安全、可靠、透明投融资平台，就在您身边！","http://www.jinxin99.cn")
 <div class="empty" style="padding-bottom:20px;">
 	<dl>
 		<dt><img src="images/kb_02.jpg" alt="" /></dt>
 		<dd><span>预约完成</span></dd>
 		<dd>1个工作日内我们会安排客服人员尽快和您联系</dd>
 	</dl>
 </div>
 <div class="wanc" style="display:none;">
 	<dl>
 		<dt><img src="images/xin_05.jpg" alt="" /></dt>
 		<dd>这么High的活动还没参加吗？快来金信网赚钱吧~</dd>
 	</dl>
 </div>
</body>
</html>